{% load static %}
<header>
    <!-- Intro settings -->
    <style>
        #intro {
            margin-top: 58px;
            
        }
        
        @media (max-width: 991px) {
            #intro {
                margin-top: 45px;
            }
        }
    
    </style>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container">
            <!-- Navbar brand -->
            <a class="navbar-brand" target="_blank" >
                <img src="/media/images/logo.jpg" height="40" alt="logo" loading="lazy" style="margin-top: -3px;" />
            </a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01" aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="{% url 'home-page' %}">Trang Chủ</a>
                    </li>
                    {% for category in category_list_limited %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'category-post' category.pk %}">{{ category.name }}</a>
                    </li>
                    {% endfor %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'category-page' %}">Danh Mục</a>
                    </li>
                </ul>

                <ul class="navbar-nav d-flex flex-row">
                    {% if user.id %}
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="{% url 'post-mgt' %}">Quản Lý Blog</a>
                    </li>
                    {% if user.profile.user_type == 1 %}
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="{% url 'category-mgt' %}">Quản Lý Danh Mục</a>
                    </li>
                    {% endif %}
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="{% url 'profile' %}">
                            <span class="me-1"><img src="{{ user.profile.avatar.url }}" alt="User Avatar" id="user-avatar" class="img-thumbnail rounded-circle"></span>
                            Xin Chào, {{user.last_name}} {{ user.first_name }}
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="{% url 'logout' %}">Đăng Xuất</a>
                    </li>
                    {% else %}
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="{% url 'login' %}">Đăng Nhập</a>
                    </li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->

    <!-- Jumbotron -->
    <div id="intro" class="pt-2 text-center bg-light"> </div>
    <!-- Jumbotron -->
</header>